{% extends "store/base.html" %}
{% load static %}
{% block content %}

{% for order_item in order_items %}
    <div class="item">
        {{ order_item }}
    </div>
    <div class="change-amount">
        <a href="{% url 'store:add_to_cart' order_item.item.id %}"><img src="{% static 'store/images/plus.png' %}"></a>
        <a href="{% url 'store:decrease_amount_of_item' order_item.item.id %}"><img src="{% static 'store/images/minus.png' %}"></a>
        <a href="{% url 'store:remove_from_cart' order_item.item.id %}"> Remove </a>
    </div>
{% endfor %}

{% endblock content %}






















